/* Applying Google Font */
body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

/* Styling Menu Icon */
.nav-menu {
    border: none;
    background-color: #fff;
    font-size: 1.5rem;
    color: #fca61f;
}

/* Styling Navbar Links */
.navbar-nav a {
    color: black;
    position: relative;
}

.navbar-nav a:hover {
    color: #fca61f;
}

.navbar-nav a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 0;
    background: #fca61f;
    transition: width 0.3s ease, left 0.3s ease;
}

.navbar-nav a:hover:after {
    width: 100%;
    left: 0;
}

/* Styling Buttons */
.c-btn {
    border: none;
    background: #fca61f;
    color: #fff;
    font-size: 1.2rem;
}

.c-btn:hover {
    background-color: #6f34fe;
}

/* Home Section */
.home {
    background: linear-gradient(33deg, rgba(242,242,255,1) 0%, rgba(235,249,255,1) 100%);
    padding: 30px 0px 10px 0px;
}

.home h2 {
    font-size: 3rem;
    line-height: 4rem;
}

.c-orange {
    color: #6f34fe;
    font-weight: 700;
    font-size: 4rem;
}

.home p {
    font-size: 1.2rem;
}

.h-btn:hover {
    background: #6f34fe;
    transform: translateY(-20px);
    transition-duration: 1s;
}

/* Skills Section */
.skill {
    background-color: rgb(234, 234, 249);
    padding: 50px 0;
}

.skill-detail {
    margin-top: 30px;
    padding: 20px;
}

.heading small {
    color: #6f34fe;
    font-size: 1.5rem;
    font-weight: 600;
}

.heading h3 {
    margin-top: 0.5rem;
    color: #3f396d;
    font-size: 2.5rem;
    font-weight: 700;
}

.heading p {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

/* Progress Cards */
.progress-card {
    padding: 12% 10% 10% 15%;
    background-color: #fff;
    text-align: center;
    border-radius: 10%;
    margin-bottom: 20px;
}

.progress-card:hover {
    transform: scale(1.1);
    transition-duration: 0.6s;
}

.circular-progress {
    position: relative;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circular-progress::before {
    content: "";
    position: absolute;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: #fff;
}

.progress-value {
    position: relative;
    font-size: 1.5rem;
    font-weight: 600;
}

/* Contact Section */
.contact {
    background-color: #f3f3f3;
}

.contact-details i {
    font-size: 1.5rem;
    color: #fca61f;
}

.contact-details p {
    font-size: 1.2rem;
    margin-left: 1rem;
}

/* Footer Section */
footer {
    background-color: #211e39;
}

footer .link-group a {
    text-decoration: none;
    color: #6c757d;
    font-size: 1.1rem;
}

footer .link-group a:hover {
    color: #fca61f;
}

/* Back to Top Button */
#btn-back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: none;
    font-size: 1.4rem;
    background-color: #fca61f;
    color: #fff;
}
